/* общие */
body, html {
  font-family: "FuturaBookC",verdana, sans-serif;
  color: white;
}
li {
    list-style: none;
}

.webp .bg {
    background-image: url('../things/environment.webp');
}
.no-webp .bg {
    background-image: url('../things/environment.jpg')
}
.bg {
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
}
.bg-dark {
    background-color: #222 !important;
}
.black {
    color: black !important;
}
/* первая страница */
.btn:hover {
    color: #015dd9;
    border: 2px solid #015dd9;
}
.btn:active {
    color: white;
    border: 2px solid white;
    background: #015dd9;
}
/* вторая страница */
.container-fluid {
    padding: 0;
}
.card-moto {
    padding-top: 8vh;
}
.first-row {
    margin-top: 30px;
}
.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul.partners {
    padding-left: 0;
}
/* карточки */
.cards {
    margin-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-color: grey;
}
.moto.card-moto {
    font-size: 30px;
}
.webp .prombez {
    background-image: url('../things/prombez.webp');
}
.no-webp .prombez {
    background-image: url('../things/prombez.jpg')
}
.prombez {
    margin-top: 25px;
}
.webp .pla {
    background-image: url('../things/pla.webp');
}
.no-webp .pla {
    background-image: url('../things/pla.jpg')
}
.webp .sro {
    background-image: url('../things/sro.webp');
}
.no-webp .sro {
    background-image: url('../things/sro.jpg')
}
.webp .project {
    background-image: url('../things/project.webp');
}
.no-webp .project {
    background-image: url('../things/project.jpg')
}
.webp .executed {
    background-image: url('../things/executed.webp');
}
.no-webp .executed {
    background-image: url('../things/executed.jpg')
}
.description {
    padding: 10px;
    font-size: 20px;
}
/*=-footer-=*/
footer {
	color: #fff;
	background-attachment: fixed;
	background-color:#222;
	background-size: cover;
	background-position: bottom;
}
footer p {
	color: #ccc;
}
footer a {
	color: #ccc;
}
.social-pet li {
	display: inline-block;
	margin-right: 10px;
}
.social-pet li a {
    margin-bottom: 10px;

	height: 35px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	display: block;
	line-height: 35px;
	background-color: #3a5a95;
	color: #fff;
}
a>.fab {
    line-height: 2;
}
.social-pet li:nth-child(2) a {
	background-color: #57aced;
}
.social-pet li:nth-child(3) a {
	background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
	background-color: #6b27b2;
}
.social-pet li a:hover {
	background-color: #0141a2;
}
.social-pet li a:hover i {
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.recent-post li {
	display: block;
	color: #ccc;
	margin-bottom: 25px;
}
.recent-post li label {
	float: left;
	border: 2px solid #ccc;
	padding: 1px 7px;
	text-align: center;
}
.recent-post li label span {
	color: #fff;
}
footer .input-group-addon {
	background-color: #0141a2;
    border: none;
}
.f-address li {
	display: inline-block;
}
.f-address li i {
	color: #2995de;
	font-size: 18px;
}
.f-address li a {
	color: #ccc;
}
/*=-Copyright-=*/
.copyright {
	background-color: #111;
	padding: 12px 0;
    font-size:14px;
}
/* контакты */
@media (min-width: 576px) {
  ul {
    margin-left: 0;
    padding-left: 0;
  }
}
.contacts-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.btn-primary {
    width: 100%;
    color: #fff;
    background-color: #007bff;
}
/* услуги */
.bg-services {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
/* разделитель */
.razdelitel{
 position: relative;
 display: block;
 margin:25px auto 20px;
 width: 1px;
 height: 2px;
}
.razdelitel:before,
.razdelitel:after{
 content:'';
 position: absolute;
 top:0;
 width: 70px;
 height: 2px;
 background-color: black;
}
.razdelitel:before{
 left:15px;
}
.razdelitel:after{
 right: 15px;
}
.razdelitel div{
 position: relative;
}
.razdelitel div:before,
.razdelitel div:after{
 content:'';
 position: absolute;
 top:50%;
 margin-top: -4px;
 width: 10px;
 height: 10px;
 border:1px solid red;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
.razdelitel div:before{
 left: -7px;
}
.razdelitel div:after{
 right: -7px;
}
.list-unstyled.mb-0 {
    padding-left: 0;
}
.fa-2x.fa-map-marker::before {
content: url('../things/location-2x.svg');
display: inline-block;
height: 32px;
width: 32px;
padding-top: 15px;
}
.fa-2x.fa-phone-volume::before {
content: url('../things/phone-2x.svg');
display: inline-block;
height: 36px;
width: 32px;
padding-top: 5px;
}
.fa-2x.fa-envelope::before {
content: url('../things/email-2x.svg');
display: inline-block;
height: 36px;
width: 32px;
padding-top: 5px;
}
.fa-vk::before {
content: url('../things/vk.svg');
display: inline-block;
height: 16px;
width: 18px;
padding-top: 5px;
}
.fa-twitter::before {
content: url('../things/twitter.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;;
}
.fa-twitter-blue::before {
content: url('../things/twitter-blue.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;;
}
.fa-whatsapp::before {
content: url('../things/whatsapp.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;
}
.fa-instagram::before {
content: url('../things/instagram.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;
}
.fa-map-marker::before {
content: url('../things/location.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;
}
.fa-envelope::before {
content: url('../things/email.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;
}
.fa-phone-volume::before {
content: url('../things/phone.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;
}
.fa-check::before {
content: url('../things/check.svg');
display: inline-block;
height: 18px;
width: 16px;
padding-top: 5px;
